@font-face {
    font-family: Fredoka;
    src: url('../../fonts/Fredoka/Fredoka/static/Fredoka/Fredoka-Medium.ttf');
  }

.keyboard {
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    width: 35vw;
}

.letter-btn {
    width: 3vw;
    height: 3vw;
    font-family: Fredoka;
    font-size: 19px;
    border: none;
    background: lightgray;
    border-bottom: 8px solid darkgray;
    margin: 0.2rem;
    border-radius: 5px;
    cursor: pointer;
}

.letter-btn:hover {
    transform: scale(1.1);
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.red {
    background: #FF5A60;
    border-bottom: 8px solid darkred!important;
    animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both
}

.green {
    background: #6DD230;
    border-bottom: 8px solid darkgreen!important;
    animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both
}

.yellow {
    background: #FACA00;
    border-bottom: 8px solid goldenrod!important;
    animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both
}