@media only screen and (max-width: 600px) {
    .header {
      height: 15vw!important;
    }
    .game-name {
        font-size: x-large!important;
    }
    .about-btn {
        font-size: medium!important;
        height: 7vw!important;
        width: 25vw!important;
    }
    .about-btn:hover {
        transform: none!important;
    }
    .keyboard {
        width: 100vw!important;
    }
    .letter-btn {
        width: 6vw!important;
        height: 10vw!important;
        text-align: center!important;
        color: black!important;
        margin: 0.1rem!important;
        height: 12vw!important;
    }
    .letter-btn:hover {
        transform: none!important;
    }
    .btn-actions {
        width: 68vw!important;
    }
    .btn-delete {
        width: 35vw!important;
    }
    .btn-delete:hover {
        transform: none!important;
    }
    .btn-done {
        width: 35vw!important;
    }
    .btn-done:hover {
        transform: none!important;
    }
    .modal > .modal-overlay {
        width: 95%!important;
    }
    .btn-close {
        width: 35vw!important;
        font-size: large!important;
    }
    .btn-close:hover {
        transform: none!important;
    }
    .img-green {
        background-size: 40vw!important;
        height: 8vw!important;
        width: 50%!important;
    }
    .img-yellow {
        background-size: 40vw!important;
        height: 8vw!important;
        width: 50%!important;
    }
    .img-red {
        background-size: 40vw!important;
        height: 8vw!important;
        width: 50%!important;
    }
    .img-theme {
        background-size: 40vw!important;
        height: 8vw!important;
        width: 50%!important;
    }
    .footer-modal {
        width: 90%!important;
    }
    .btn-share {
        width: 70vw!important;
        font-size: large!important;
    }
    .btn-share:hover {
        transform: none!important;
    }
    .message-screen {
        width: 85vw!important;
    }
    .theme-btn {
        height: 9vw!important;
        margin: 0.5rem!important;
        width: 25vw!important;
    }
    .label-theme {
        display: none!important;
    }
    .theme {
        text-align: none!important;
    }
    .one-more-chance {
        height: 16vw!important;
        width: 17vw!important;
        font-size: xx-large!important;
    }
  }

.btn-actions{
    display: flex;
    margin: 0 auto;
    width: 26vw;
    text-align: center;
    cursor: pointer;
}

.one-more-chance {
    position: fixed;
    bottom: 1rem;
    height: 5vw;
    width: 5vw;
    background: #1C1C1C;
    text-align: center;
    font-size: x-large;
    color: white;
    cursor: pointer;
    right: 1rem;
    border: 8px solid #6DD230;
    border-radius: 40px;
}