@media only screen and (max-width: 600px) {
    .header {
      height: 15vw!important;
    }
    .game-name {
        font-size: x-large!important;
    }
    .about-btn {
        font-size: medium!important;
        height: 7vw!important;
        width: 25vw!important;
    }
    .keyboard {
        width: 90vw!important;
    }
    .letter-btn {
        width: 6vw!important;
        height: 10vw!important;
        text-align: center!important;
        color: black!important;
    }
    .letter-btn:hover {
        transform: none!important;
    }
    .btn-actions {
        width: 68vw!important;
    }
    .btn-delete {
        width: 25vw!important;
    }
    .btn-done {
        width: 35vw!important;
    }
    .modal > .modal-overlay {
        width: 95%!important;
    }
    .btn-close {
        width: 35vw!important;
        font-size: large!important;
    }
    .img-green {
        background-size: 40vw!important;
        height: 8vw!important;
        width: 50%!important;
    }
    .img-yellow {
        background-size: 40vw!important;
        height: 8vw!important;
        width: 50%!important;
    }
    .img-red {
        background-size: 40vw!important;
        height: 8vw!important;
        width: 50%!important;
    }
    .footer-modal {
        width: 90%!important;
    }
    .btn-share {
        width: 45vw!important;
        font-size: large!important;
    }
  }

.btn-actions{
    display: flex;
    margin: 0 auto;
    width: 26vw;
    text-align: center;
    cursor: pointer;
}