@font-face {
  font-family: Fredoka;
  src: url('./fonts/Fredoka/Fredoka/static/Fredoka/Fredoka-Medium.ttf');
}

body {
  background: #141414;
  margin: 0;
  font-family: Fredoka;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Fredoka;
}
